.vnContainer {
    position: relative;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
    justify-content: center;
}

.vnImg {
    height: 70%;
    object-fit: contain;
}

/* dialogue box */
.vnText {
    width: 80%;
    border: 2px solid #000000;
    background-color: #ffff;
    box-sizing: border-box;
    margin: 0px;
    padding: 2vh 2vh;
}
.vnText p{
    margin: 0;
}
.vnChoices {
    display: flex;
    justify-content: flex-end;
}

.vnButton {
    padding: 8px 12px;
    cursor: pointer;
    font-family: inherit;
    border: 2px solid #000;
    background-color: var(--background-color2);
}