.projectDetails {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: fit-content fit-content;
    color: var(--light-color);
    box-sizing: border-box;
    padding: 3vw;
    gap: 1vw;
}

body[data-theme="light"] .projectDetails {

    color: var(--dark-color);
}



.projectTitle {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    font-size: 5vh;
}

.fullDescription {
    grid-column: 1;
    grid-row: 2;
}

.projectInfo,
.roles,
.picDisplay {
    box-sizing: border-box;
    z-index: 3;
}

.picDisplay {
    position: relative;
}

.slide {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: var(--border);
    box-sizing: border-box;
}

.picStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.roles {
    grid-column: 2;
    grid-row: 1/ span 2;
    padding: 0 0 0 1vw;
    box-sizing: border-box;

}

.roles p+p {
    background-color: var(--primary-color);
    width: fit-content;
    color: var(--light-color);
}

body[data-theme="light"] .roles p+p {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

.roles p {
    background-color: transparent;

}

.roles li {
    margin: 0;
}

.projectPageLayout {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: var(--container-padding);
    z-index: 1;
}

body[data-theme="light"] .container {

    background: var(--primary-color);
}

.container {
    height: fit-content;
    width: 100%;
    border: var(--border);
    box-sizing: border-box;

    background: var(--secondary-color);
    position: relative;
    z-index: 1;

}

@media screen and (min-width: 340px) and (max-width: 500px) {
    .projectTitle {
        font-size: 5vw;
        text-align: center;
    }

    .projectDetails {
        grid-template-columns: auto;
        grid-template-rows: fit-content fit-content fit-content;
        gap: 1vh;
    }

    .roles {
        grid-row: 3;
        grid-column: 1;
    }

    .fullDescription {
        grid-row: 2;

    }

    .projectTitle {
        grid-row: 1;

    }

}