.feed {
    display: grid;
    gap: 1vh;
    grid-template-columns: auto auto;

}

.layout {
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;

}

.filters {
    display: flex;
    gap: 1vw;
    margin: 2vh 0;
}

.tag {

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 50px;

}

.active {
    background-color: var(--secondary-color2);
    cursor: pointer;

    padding: 2vw;
    border-radius: 0;
    
}

@media screen and (min-width: 340px) and (max-width: 500px) {
    .feed {

        grid-template-columns: auto;
    }

    .filters {

        justify-content: center;
    }
}