.layout {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.mainContent {

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;

}

.canvas {
  height: 100%;
  flex: auto;
  font-family: inherit;
  flex: 1;
  width: fit-content;
}

.left {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: fit-content;
}

.chartContainer {
  width: 30vw;
}

.educationBlock {
  height: 40vh;
  width: 80%;
  padding: calc(var(--container-padding) / 2);

}

.idContainer {
  height: 100dvh;
  flex: 1;
}

@media screen and (min-width: 340px) and (max-width: 1200px) {
  .mainContent {
    flex-direction: column;
  }

  .educationBlock {
    height: auto;
    width: auto;
    flex: 1;
  }

  .idContainer {
    height: 60vh;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .canvas {
    height: 60%;
  }

  .chartContainer {
    width: 90vw;
    align-items: center;
  }
}