.skelly {
  display: flex;
  height: 100vh;
  margin: 0px;
  justify-content: flex-end;
}
.skelly img {
  z-index: 3;
}

.eye1 {
  width: 25px;
  height: 25px;
  background: rgb(0, 0, 0);
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left:200px;
  top: 175px;
}
.eye2 {
  width: 35px;
  height: 35px;
  background: rgb(0, 0, 0);
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left:204px;
  top: 110px;
}


.pupil {
  width: 15px;
  height: 15px;
  background: rgb(214, 88, 179);
  box-shadow: 0px 0cap 8px 4px rgb(214, 88, 179);;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}