.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg, .mid, .front {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-out;
}

.bg {
  background: url('/bg.png') center/cover;
  z-index: 1;
}

.mid {
  background: url('/l1.png') center/contain no-repeat;
  z-index: 2;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/l2.png') center/contain no-repeat;
  font-size: 40px;
  z-index: 3;
}