:root {

  --font-size: 14px;
  --accent-color: #c40093;
  --shadow-color: #3a1635;
  --white: #ffff;
  --font-family: "Silkscreen";
  --font-family-secondary: 'Helvetica';
  --container-padding: 2vh;
  --border: 2px solid #000000;
}

[data-theme="dark"] {
  --background-color: #800080;
  --background-color-grass: #594f86;
  --secondary-color: #9ecf35;
  --background-color2: #f79016;
  --secondary-color2: #2BB10A;
  --shadow-color: #2b2377;
}

[data-theme="light"] {
  --shadow-color: #3a1635;
  --background-color: #f79016;
  --secondary-color: #2BB10A;
  --background-color2: #800080;
  --secondary-color2: #9ecf35;
  --background-color-grass: #783143;

}

body {
  background-color: var(--bg-current, var(--background-color));
}


@media screen and (min-width: 340px) and (max-width: 500px) {
  :root {
    --container-padding: 2vw;
  }
}