.product.light {
  background-color: #ffffff;
  color: #000000;
}

.product.dark {
  background-color: #121212;
  color: #ffffff;
}


body{
  background-color: #800080;
  margin: 0px;
  padding: 0px;
}
.sidebar {
  width: 10vw;
  position: sticky;
  top:0px;
  align-self: flex-start;
}

/* Left */
.left {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
}


.mainContent{
  flex: 1;
}

.logo{
  padding: 0;
  margin: 0;

}
header{
  display: flex;
}
.appContainer {
}
.container{
  display: flex;
  height: 100vh;
}
.filters {
  display: flex;
  justify-content: left;
  gap: 12px;
  margin: 20px 0;
  align-items: center;
}
.link {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid rgb(87, 148, 255);
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color :rgb(0, 0, 0);
  text-decoration: none;
}
.pageLink{
  color: rgb(0, 0, 0);
  width:200px;
  background-color: #9ecf35 !important;
  padding: 8px 4px;
  
}
.filters button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color :rgb(0, 0, 0);
  text-decoration: none;
}

.active {
  background-color:  #800080 !important;
  color: rgb(255, 255, 255);
  text-align: end;
}
h1 {
    text-align: center;
}
.btn {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login{
  border: 2px solid rgb(87, 148, 255); 
  border-radius: 10px;
}
.box{
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 50px;
  align-items: center;
  gap: 30px;
}
h3 {
  margin: 0;
}
.product{
  display: flex;
  flex-direction: column;
  width: 350px !important ;
  align-items: center ;
  text-align: center;

  padding: 10px ;
}
.productInfo{
  display: flex;
  text-align: center;
  flex-direction: column;
  gap : 10px;
}